#addTokimonDesc{
	font-size: 1.2em;
}

#addTokimonForm{
	background: honeydew;
	position: relative;
	left: 3%;
	width: 94%;
}

legend{
	font-size: 3em;
	font-weight: bolder;
}

.tokimonAttrTable{
	font-size: 1.25em;
}

output.abilityVal{
	font-size: 1.5em;
	font-weight: bold;
	color: crimson;
}

#tokimonCharac{
	background: none;
	font-size: 1.75em;
	color: crimson;
	font-style: normal;
}

.abilityImg{
	width: 4em;
	height: width;
	/*margin-bottom: -.5em;*/
	/*margin-top: -1em;*/
	opacity: .7;
}

.abilityImg:hover{
	width: 6em;
	height: width;
	/*margin-bottom: -.5em;
	margin-top: -.5em;*/
	opacity: 1;
}

#addTokimonButton{
	background-color: #A9182B;
	border-color: #A9182B;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	float: right;
	margin-right: 1.5vw;
	border: solid .25vw #A9182B;
	border-radius: 3px;
/*	width: 6.5em;*/
	font-size: 1em;
}