<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
    <title>Tokidex: About</title>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div id="about">
    	<h2 class="question">What on Earth is a Tokimon?</h2>
    	<p class="paragraph">A Tokimon is a rare creature found in the remote areas of Korea.
    	For the most part, they resemble rabbits and the only form of communication
    	they have with us is the ability to say their own name. Tokimons come in all
    	shapes and sizes, have special abilities, and tend to fight with each other on occasion.</p>
    	<h2 class="question">What is special about Tokimons?</h2>
    	<p class="paragraph">Each Tokimon could have the ability to fly, fight, throw fire, spray water, electrify, 
    	and freeze other Tokimons; their ability is measured by an integer between 0 and 100. 
    	Because they are such primitive creatures but have such extraordinary abilities, they need 
    	Tokimon trainers. The trainer’s is job to collect Tokimons and use them accordingly.</p>
    	<h2 class="question">Cool story! What does this amazing web application do?</h2> 
    	<p class="paragraph">This web application is designed to track the known Tokimons in existence.</p> 
    </div>
  </body>
  <% include ../partials/footer.ejs %>
</html>